.errorWrapper {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .errorImg {
        max-height: 263px;
        margin: 7%;
    }
    
    .errorSubtitle {
        text-decoration: none;
        font-size: 36px;
        margin: 4%;
        text-align: center;
    }
        
    .errorHomeLink {
        font-size: 18px;
        margin: 7%;
    }
    
    @media (width <= 600px) {

        margin: 6%;

        .errorImg {
            max-height: 100px;
            margin: 11% 7%;
        }
        
        .errorSubtitle {
            font-size: 1.4em;
            margin: 9% 0;
            max-width: 320px;
        }
            
        .errorHomeLink {
            font-size: 1em;
            margin: 9% 0 11% 0;
        }
    }
}
