.sectionBanner {
    display: flex;
    flex-direction: column;
    align-items: center;

    .bannerTxt {
        color: #fff;
        font-size: 48px;
    }

    @media (width <= 600px) {

        margin: 1.3% 0;

        .banner, .bannerImg, .bannerShadow {
            max-height: 110px;
        }

        .bannerTxt {
            max-width: 325px;
            font-size: 1.7em;
            padding: 0 1.85em 0 0.8em;
            text-align: left;
        }
    }
}
