body {
    margin: 0;
    font-family: 'Montserrat';
}

* {
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

$textColor: #ff6060;
$textWeight: 500;

h1, a, p {
    color: $textColor;
    font-weight: $textWeight
}

